

/* --- smartphones --   */
@media only screen and (max-width: 600px) {
    body {
        background-color: red;
    [ class *= "container" ] width: 100 %;
        text-align: center;
    }
    div#medium, div#large {
        display: none;
    }
    font-size: 30px;

}

/* For tablets: */
@media only screen and (min-width: 600px) {
    body {
        background-color: green;
        font-size: 40px;
    }
    div#small, div#large {
        display: none;
    }
}

/* For desktops: */
@media only screen and (min-width: 768px) {
    body {
        background-color: blue;
        font-size: 50px;
    }
    div#large {
        display: inline;
    }
    div#medium, div#small {
        display: none;
    }
}